presets:
	- nette

groups:
	- modernization
	- deprecations

rules:
	groupImport: {minImports: 2}
	overrideAttributeRequired: keep

types: phpstan

paths:
	- src
	- tests

excludePaths:
	- fixtures

fileExtensions:
	- php
	- phpt
