package: symfony/asset
group: deprecations

since 6.0:
	replacedClasses:
		Symfony\Component\Asset\VersionStrategy\RemoteJsonManifestVersionStrategy: Symfony\Component\Asset\VersionStrategy\JsonManifestVersionStrategy
