package: symfony/notifier
group: deprecations

since 7.2:
	forbiddenClasses:
		Symfony\Component\Notifier\Test\TransportFactoryTestCase: 'extend `Symfony\Component\Notifier\Test\AbstractTransportFactoryTestCase` and use `IncompleteDsnTestTrait` or `MissingRequiredOptionTestTrait` for their providers'
